@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Simplifying Student Information Management <a href="https://btec.fpt.edu.vn">BTECStuManage</a>.</p>
</div>
